body {
    background-color: #00203FFF;
    color: #ADEFD1FF;
}
.formulaire {
    margin-top: 30px;
    background-color: #ADEFD1FF;
    color: #00203FFF;
    border-radius: 20px;
    border: 1px solid #00203FFF;
}

.formulaire div {
    margin: 20px;
}
.formulaire input {
    background-color: #b3c7d6ff !important;
    resize: none;
    border: 1px solid #0063b2ff !important;
}
button.valid [type="submit"] {
    background-color: #32936f !important;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #32936f;
    margin-top: 30x;
    padding: 5px 30px;
}

 button.valid[type="submit"]:hover {
    background-color: whitesmoke !important;
    color: #32936f;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #32936f !important;
}
/************************************NAV*************************/
.affiche{
    background-color: deepskyblue;
}

.btnAdmin{
    color: red;
}
.navbar {
    background-color: #2fa4e7;
    border-bottom: 2px solid #033c73;
    padding: 10px 0px;
  }
/************************************LOGIN*************************/

.login h3 {
    padding: 30px 0px;
}

.login div {
    margin: 40px;
}







 /* ******************************ADMIN************************ */



.cadre {
    background-color: #ADEFD1FF;
    color: #00203FFF;
    border-radius: 20px;
    margin: 20px 0px;
    border: 1px solid #00203FFF;
}
.form-row:first-child{
    margin-top: 20px;
}
.form-row{
    margin-top: 10px;
}
.valide {
    margin: 20px 0px;

}
.archive {
    margin: 10px 0px;
    padding-bottom: 10px;
}

select {
    background-color: #00203FFF !important;
    color: #ADEFD1FF !important;
    text-align: center;
    text-align-last: center;
}
option{
    text-align: center;
}
form.archive{
    padding-bottom: 10px;
}
.BtnList form {
    margin-top: 20px;
}
.entete {
    padding: 20px 0px;
    text-align: center;
    border: 1px solid #ADEFD1FF;
    border-radius: 15px;
    margin-bottom: 40px;
}

span {
    font-size: 20px;
    font-style: italic;
    margin-left: 50px;
}

tr {
    border: 1px solid #00203FFF;
}

th {
    padding: 15px 0px;
    border: 1px solid #ADEFD1FF;
    background-color: #00203FFF !important;
    color: #ADEFD1FF !important;
}

td {
    padding: 15px 0px;
    background-color: #ADEFD1FF !important;
    color: #00203FFF !important;
}

.archive.btn {
    background-color: #00203FFF !important;
    color: #ADEFD1FF !important;
}