.accueil{
    height: 300px;
    background-color: brown;
    color:white;
}

/* *******************************************ARTICLE********************************************  */

th {
    background-color: chocolate !important;
    color:white !important;
}
table tr:first-child{
    color: chocolate;
    font-size:  bold;
}

h3{
    margin-top: 20px;
}